@import "./sass/_variables.scss";

.wp-block-lattice-hero-sub-product {
  font-family: "Matter", sans-serif !important;
  text-align: center;

  // Layout
  .hero-container.container {
    max-width: unset;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & > .hero-content {
    padding: 1rem !important;

    @media (min-width: 768px) {
      padding: 8rem !important;
      padding-bottom: 6rem !important;
    }
  }

  // Animation
  .hero-animation-container {
    border-radius: 16px;
    border: 10px solid #ffffff80;

    iframe {
      box-shadow: 0px 4px 4px rgba(0, 31, 31, 0.04),
        0px 2px 2px rgba(0, 31, 31, 0.04), 0px 0px 1px rgba(0, 31, 31, 0.4);
      border-radius: 16px;
      border: none;
    }
  }

  // Typography
  .hero-title {
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 0.9;
    letter-spacing: -0.01em;
    color: #001F1F;

    @media (min-width: $bp-medium) {
      font-size: 4.5rem;
    }
  }

  .hero-subtitle {
    font-weight: 400;
    font-size: 32px !important;
    margin-bottom: 2rem;
    display: block;
  }

  // Buttons
  .hero-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      justify-content: center;
    }
  }

  a.button.hero-link {
    color: #c2ffc4;
    letter-spacing: 0;
    cursor: pointer;
    background-image: linear-gradient(to top, #003d3d, #006161);
    background-position: 0 0, 0 0;
    background-size: 220px, auto;
    border-radius: 10px;
    padding: 15px 32px 17px;
    font-family: 'Matter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 110%;
    transition: all .2s;
    box-shadow: inset 0 1px 1px rgba(235, 255, 228, .06), inset 0 -1px 2px rgba(0, 31, 31, .24), 0 8px 8px rgba(0, 31, 31, .06), 0 4px 4px rgba(0, 31, 31, .06), 0 2px 2px rgba(0, 31, 31, .06), 0 0 1px rgba(0, 31, 31, .32);

    &:hover {
      background-image: linear-gradient(#007070, #044);
      background-position: 0 0, 0 0;
      background-size: 125px, auto;
      transform: scale(1.01);
      box-shadow: inset 0 1px 1px rgba(235, 255, 228, 0.04),
        inset 0 -1px 2px rgba(0, 31, 31, 0.64),
        0 16px 16px rgba(0, 31, 31, 0.06), 0 8px 8px rgba(0, 31, 31, 0.06),
        0 6px 6px rgba(0, 31, 31, 0.06), 0 4px 4px rgba(0, 31, 31, 0.06),
        0 2px 2px rgba(0, 31, 31, 0.06), 0 0 1px rgba(0, 31, 31, 0.32);
      transition: 0.3s ease-in-out;
      filter: brightness(112%);
      color: #fff;
    }

    &:active {
      background-position: 0 0, 0 0;
      background-size: 125px, auto;
      transform: scale(1);
      box-shadow: inset 0 1px 1px rgba(235, 255, 228, .08), inset 0 -1px 2px rgba(0, 31, 31, .8), 0 0 1px rgba(0, 31, 31, .63);
    } 
  }

  // Eyebrows
  .hero-eyebrows-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;

    .hero-eyebrows-text {
      margin-left: 0.5rem;
    }

    .hero-eyebrows-text,
    .hero-eyebrows-text2 {
      font-weight: 500;
      font-size: 0.88rem;
    }

    .hero-eyebrows-text2 {
      color: rgba(0, 31, 31, 0.6);
    }

    .hero-eyebrows-arrow {
      margin: -0.2rem 0.5rem 0 0.5rem;
    }

    .hero-eyebrows-icon {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      height: 2rem;
    }
  }
}

.block-editor-block-list__block.wp-block-lattice-hero-sub-product {
  // Editor Specific
  .hero-container.container.editor {
    .hero-link-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .hero-link-container-1,
      .hero-link-container-2 {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        border: 1px dashed grey;
        border-radius: 0.4rem;
        padding: 1rem;
        text-align: center;
      }

      .hero-link-url input,
      .hero-link-url-2 input {
        max-width: 10rem;
        border: 1px solid blue;
      }

      a.hero-link-2.button {
        margin-left: 0 !important;
      }
    }
  }

  .editor-button {
    background-color: #333 !important;
    color: #fff !important;
    border-radius: 6px;
    padding: 1rem 2rem;
    display: inline-block;
    margin: 1rem 0;
  }
}
