/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background text-foreground font-sans;
}

/* Typography */
* {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}

a,
strong,
p,
li,
span {
	@apply text-sm;
}

p {
	@apply text-[19px] font-normal leading-[1.4];
	color: rgba(0, 0, 0, 0.70);
}

strong {
	font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
h1 span strong,
h2 span strong,
h3 span strong,
h4 span strong,
h5 span strong,
h6 span strong {
	@apply leading-[1.2];
	font-family: 'Roobert', sans-serif;
}

ul li::marker {
	@apply text-black;
}

.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
	@apply text-black;
}

a:hover {
	transition: all 0.3s ease !important;
}

/* Buttons */
.wp-element-button, .wp-block-button__link {
	@apply rounded-[10px] bg-black text-lg font-semibold px-8 block w-full md:w-auto;
}

/* Above Footer Widget */
.above-footer .wp-block-buttons {
	@apply mt-8;
}

.above-footer .wp-block-button {
	@apply block w-full lg:w-auto;
}

.above-footer .wp-block-button:nth-child(2) .wp-block-button__link {
	@apply bg-transparent border border-white;
}

.above-footer aside h2 {
	@apply text-4xl md:text-5xl lg:text-6xl font-normal;
}

.above-footer aside p {
	@apply text-white;
}

.above-footer .wp-block-buttons.is-layout-flex {
	@apply justify-center gap-4 items-center mt-8;
}

.above-footer p {
	@apply text-xl font-normal leading-7 mt-4 max-w-[632px] mx-auto;
}

/* Footer Widgets */
footer h2.wp-block-heading {
	@apply mb-2 md:mb-2 mt-0 text-sm font-medium leading-[1.5] text-black;
	font-family: 'Inter', sans-serif;
}

footer li a {
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.80);
}

footer li {
	font-size: 0.875rem;
	@apply mb-3 md:mb-2;
}

footer p {
	font-size: 13px;
}

footer .wp-block-social-links {
	@apply md:mb-14;
}

footer .footer-categories aside {
	@apply w-full md:w-auto;
}

.footer-logo {
	@apply mb-8;
}

/* Mobile Footer Functionality */
.mobile footer h2 {
	@apply flex flex-row justify-between items-center w-full text-lg font-normal;
}

.mobile footer .footer-categories  aside {
	transition: max-height 0.3s ease-in-out;
}

.mobile footer .footer-categories  aside section:nth-child(2) {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
}

.mobile footer .footer-categories  aside.active section:nth-child(2) {
	max-height: 1000px; /* Adjust as needed */
}

.mobile footer .footer-categories  h2:after {
	height: 24px;
	width: 24px;
	content: '';
	display: block;
	background: url('images/cheveron-down.svg');
	transition: transform 0.3s ease-in-out;
}

.mobile footer .footer-categories aside.active h2:after {
	transform: rotate(180deg);
}
