.prose .category-posts :where(h2):not(:where([class~="not-prose"] *)) {
	line-height: 1 !important;
}

.category-posts img.thumbnail {
	@apply w-full;
}
.category-posts picture,
.category-posts img.thumbnail {
    display: block;
    height: 100%;
    object-fit: cover;
}

.category-posts .image {
	@apply h-36 overflow-hidden lg:h-72;
}

.prose .category-posts :where(img):not(:where([class~="not-prose"] *)) {
	@apply w-full;
}

.category-posts.post-wrapper {
	@apply xl:max-w-[1320px] min-[1800px]:max-w-[1500px] min-[2000px]:max-w-[1600px] min-[2200px]:max-w-[1700px] min-[2400px]:max-w-[1800px] min-[2560px]:max-w-[1900px];
}

.wp-block-heading.eyebrows {
	@apply mx-6 mb-0 mt-12 text-xl font-semibold leading-[1.2] tracking-[-0.16px] lg:mx-auto lg:mt-28;
}

.wp-block-heading.eyebrows + .category-posts {
	@apply mt-0;
}

.wp-block-heading.eyebrows + .category-posts div {
	@apply mt-1;
}

.category-posts-post:hover {
	@apply border-opacity-100 transition-all;
	box-shadow: 4px 4px 0px 0px #000;
}

.category-posts-post {
	@apply transition-all;
}

.prose .category-posts :where(img):not(:where([class~="not-prose"] *)) {
	@apply w-9 sm:w-14;
}

.prose-a\:text-primary
	.category-posts
	:is(:where(a):not(:where([class~="not-prose"] *))) {
	@apply text-black;
}

.prose .category-posts .meta :where(img):not(:where([class~="not-prose"] *)) {
	@apply w-9 text-purple-900 sm:w-14;
}

.category-posts-list::-webkit-scrollbar {
	display: none;
}

.category-posts-list {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.black-to-purple-link {

	color: black !important;
}

.black-to-purple-link:hover {
color: #6439F5 !important;
}