.logo-and-title {
	@apply flex flex-row items-center justify-start;
}

.desktop-nav {
	@apply hidden;
}

@media (min-width: 1200px) {
	.desktop-nav {
		@apply visible flex w-max;
	}
}

/* change to 880px later */
@media (min-width: 880px) {
	.mobile-nav {
		@apply hidden;
	}

	.sticky-nav {
		@apply animate-slideDown sticky top-0 z-50;
	}

	/* this is hidden by default in the markup */
	.scroll-progress-bar {
		@apply h-[4px] w-full bg-transparent align-bottom;
	}

	.scroll-progress-value {
		@apply h-full w-0 bg-purple-900;
	}
}

.desktop-nav .header-search {
	@apply h-6 w-6;
}

.desktop-nav .menu-openphone-menu-container #primary-menu {
	@apply flex flex-row gap-4;
}

#primary-menu > .menu-item {
	@apply flex h-8 flex-col items-center justify-center;
}

.desktop-nav .menu-item > .sub-menu {
	@apply hidden;
}

.admin-bar .desktop-nav .menu-item > a + .sub-menu:hover {
	@apply fixed left-auto top-24 z-[1000] block p-4;
	box-shadow: 4px 4px 0px 0px #000;
}

.desktop-nav .menu-item > a + .sub-menu:hover {
	@apply fixed left-auto top-[4.4rem] z-[1000] block p-4;
	box-shadow: 4px 4px 0px 0px #000;
}

.desktop-nav .menu-item:hover > a + .sub-menu {
	@apply fixed left-auto top-[4.4rem] z-[1000] block rounded-lg border-[1px] border-black bg-white p-4;
	box-shadow: 4px 4px 0px 0px #000;
}

.admin-bar .desktop-nav .menu-item:hover > a + .sub-menu {
	@apply fixed left-auto top-24 z-[1000] block rounded-lg border-[1px] border-black bg-white p-4;
	box-shadow: 4px 4px 0px 0px #000;
}

.desktop-nav .sub-menu > .menu-item {
	@apply rounded-md px-[10px] py-[6px] text-base;
}

.desktop-nav .sub-menu > .menu-item:hover {
	@apply bg-purple-25 cursor-pointer transition-all duration-200;
}

.desktop-nav .menu-item-has-children > a::after {
	background-image: url("images/cheveron-down.svg");
	content: "";
	top: 2px;

	@apply relative ml-1 inline-block h-4 w-4 bg-contain bg-center bg-no-repeat;
}

.desktop-nav .menu-item-has-children:hover > a::after {
	transform: rotate(180deg);
	@apply transition-transform duration-200;
}

.header-content {
	@apply mx-auto lg:px-20 min-[1280px]:px-0;
}

#masthead {
	/* @apply sticky top-0; */
}

.admin-bar #masthead {
	/* @apply sticky top-8; */
}

.custom-logo {
	@apply mr-3 h-[1.4rem] w-auto;
}

.logo-and-title {
	@apply text-xl font-medium leading-[1] tracking-[-0.6px];
}

.logo-and-title:hover {
	@apply text-purple-900 transition-colors duration-200;
}

#masthead .wp-block-button:first-child a.wp-element-button {
	@apply border-[1px] border-black bg-white text-black;
}

#masthead .wp-block-button:first-child a.wp-element-button:hover {
	border: 1.5px solid #000;
	box-shadow: 4px 4px 0px 0px #000;
}

.mobile-nav {
	@apply flex flex-col justify-start;
}

.mobile-nav .header-ctas {
	@apply ml-0 hidden w-full border-t-[1.5px] border-black border-opacity-10 p-6;
}

.mobile-nav.visible .header-ctas {
	@apply block sm:hidden;
}

.mobile-nav .header-ctas .wp-block-buttons {
	@apply flex-col;
}

.mobile-nav .header-ctas .wp-block-buttons .wp-block-button {
	@apply w-full;
}

.mobile-nav .header-search {
	@apply mr-4 h-6 w-6;

	position: absolute;
	top: 19px;
	right: 40px;
}


@media (min-width: 568px) {
	.admin-bar .mobile-nav .header-search {
		top: 39px;
	}
}


.admin-bar .mobile-nav .header-search {
	@apply mr-4 h-6 w-6;

	position: absolute;
	top: 60px;
	right: 40px;
}

@media (min-width: 568px) {
	.admin-bar .mobile-nav .header-search {
		top: 70px;
		right: 330px;
	}
}

.mobile-nav .menu-openphone-menu-container[style="display: block;"] {
	@apply h-[76vh] w-full border-t-[1.5px] border-black border-opacity-10 p-6;
}

.admin-bar .mobile-nav .menu-openphone-menu-container[style="display: block;"] {
	@apply h-[70vh] sm:h-[100vh];
}

@media (min-width: 880px) {
	.mobile-nav .header-search {
		@apply hidden;
	}
}

.mobile-nav button[aria-controls="primary-menu"] {
	@apply h-[2px] w-6 bg-black;
	position: absolute;
	top: 1.8rem;
	right: 1rem;
}

@media (min-width: 568px) {
	.mobile-nav button[aria-controls="primary-menu"] {
		top: 2.9rem;
	}
}

.admin-bar .mobile-nav button[aria-controls="primary-menu"] {
	@apply h-[2px] w-6 bg-black;
	position: absolute;
	top: 4.4rem;
	right: 1rem;
}

@media (min-width: 568px) {
	.admin-bar .mobile-nav button[aria-controls="primary-menu"] {
		top: 80px;
		right: 24px;
	}
}

.mobile-nav button[aria-controls="primary-menu"][aria-expanded="true"] {
	@apply bg-transparent;
}

.mobile-nav button[aria-controls="primary-menu"]::before,
.mobile-nav button[aria-controls="primary-menu"]::after {
	@apply relative block h-[2px] w-6 bg-black;
	content: "";
}

.mobile-nav button[aria-controls="primary-menu"][aria-expanded="true"]::before {
	top: 0px;
	transform: rotate(45deg);
}

.mobile-nav button[aria-controls="primary-menu"][aria-expanded="true"]::after {
	transform: rotate(-45deg);
	top: -2px;
}

.mobile-nav button[aria-controls="primary-menu"]::before {
	top: -8px;
}

.mobile-nav button[aria-controls="primary-menu"]::after {
	bottom: -6px;
}

.mobile-nav .menu-openphone-menu-container {
	@apply hidden;
}

.mobile-nav button[aria-controls="primary-menu"]::before,
.mobile-nav button[aria-controls="primary-menu"]::after,
.mobile-nav button[aria-controls="primary-menu"] {
	@apply lg:hidden;
}

.mobile-nav .menu-item a {
	@apply block text-[19px] font-normal;
}

.mobile-nav .menu-item {
	@apply mb-5;
}

.mobile-nav .menu-item a {
	@apply flex flex-row items-center justify-between;
}

.mobile-nav .sub-menu {
	@apply hidden;
}

.mobile-nav .sub-menu.active {
	@apply block;
}

.mobile-nav .sub-menu.active .menu-item a {
	@apply mb-[10px] px-4 text-base  opacity-80;
}

.mobile-nav .sub-menu.active .menu-item a:first-child {
	@apply mt-4;
}

.mobile-nav .sub-menu.active .menu-item a:last-child {
	@apply mb-0;
}

.mobile-nav #mobile-menu > .menu-item.menu-item-has-children > a::after {
	@apply inline-block h-6 w-6;
	content: "";
	background-image: url("images/cheveron-down.svg");
}

.mobile-nav #mobile-menu > .menu-item.menu-item-has-children > a.active::after {
	@apply inline-block h-6 w-6;
	content: "";
	background-image: url("images/cheveron-down.svg");
	transform: rotate(180deg);
}

.mobile-nav #mobile-menu > .menu-item.menu-item-has-children > a.active {
	@apply text-purple-900;
}
