.search .page-title,
.search .page-title span {
    @apply text-xl sm:text-2xl md:text-3xl my-12 sm:my-16 lg:mb-4 font-semibold leading-[1] tracking-[-0.6px] lg:leading-[1.2] text-center lg:text-left;
}

form.is-search-form.is-form-style.is-form-style-3 {
    @apply flex flex-row-reverse sm:max-w-[20rem] md:max-w-[32rem] mx-auto my-0;
}

.is-search-icon {
    background: none !important;
    border: none;
}

.is-search-icon path {
    fill: #000 !important;
}

.is-form-style input.is-search-input {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-color: #000 !important;
}