.search .page-title,
.search .page-title span {
    @apply text-3xl font-semibold leading-[1] tracking-[-0.6px] leading-[1.2] text-left;
}

form.is-search-form.is-form-style.is-form-style-3.is-form-id-20303 {
    display: flex;
    flex-direction: row-reverse;
    max-width: 31rem;
    margin: 0 auto;
}

.is-search-icon {
    background: none !important;
    border: none;
}

.is-search-icon path {
    fill: #000 !important;
}

.is-form-style input.is-search-input {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-color: #000 !important;
}