/* Styles for a single blog post */

/* .post-template-default.single-post.signle .post.type-post  */

/* Header Styles */
.post-template-default.single.single-post #masthead {
	/* @apply bg-purple-50; */
}

.single .entry-content > * {
	@apply mx-auto md:ml-24 lg:w-[36rem] lg:ml-10 xl:w-[47.5rem] xl:ml-20 min-[1600px]:ml-40 min-[1800px]:ml-64 min-[2000px]:ml-[22rem] min-[2200px]:ml-[28rem] min-[2400px]:ml-[36rem] min-[2800px]:ml-[48rem];
}

.single .without-toc .entry-content > * {
	@apply mx-auto lg:w-[36rem] xl:w-[47.5rem];
}


a[rel="category tag"] {
	@apply mb-2 text-sm font-semibold leading-5 text-purple-900 sm:text-base lg:text-xl no-underline;
}

.entry-footer a[rel="category tag"] {
	@apply text-sm;
}

.entry-footer time {
	@apply text-sm;
}

a[rel="tag"] {
	@apply inline max-w-max rounded-md bg-black bg-opacity-5 px-2 py-1 text-xs font-semibold hover:bg-opacity-100 hover:text-white lg:text-sm;
}

.entry-content a {
	@apply hover:text-purple-900;
}

.single .entry-content span:not(.lwptoc_item_label) {
	@apply text-[19px];
}

/* Content & Typography Styles */
.post .entry-content {
	@apply px-8 pb-12 md:pb-16 lg:pb-32;
}

article.post {
	margin-bottom: 0 !important;
}

/* Headings */
.wp-block-heading {
	@apply mt-14 lg:mt-24 mb-8;
}

.gb-grid-wrapper .wp-block-heading {
	@apply mt-0;
}

.post .entry-content h2,
.post .entry-content h2 span,
.post .entry-content h2 strong,
.post .entry-content h2 span strong,
.prose :where(h2):not(:where([class~="not-prose"] *)) {
	@apply text-5xl font-semibold;
	letter-spacing: -0.96px;
}

.post .entry-content h3,
.post .entry-content h3 span,
.post .entry-content h3 strong,
.post .entry-content h3 span strong {
	@apply text-3xl font-semibold;
	letter-spacing: -0.6px;
}

.post .entry-content h4,
.post .entry-content h4 span,
.post .entry-content h4 strong,
.post .entry-content h4 span strong {
	@apply text-3xl font-semibold;
	letter-spacing: -0.6px;
}

/* Body Copy */
.post.entry-content > p:first-of-type,
.post-template-default.single.single-post .entry-content > p:first-of-type,
.post-template-single-image.single.signle-post .entry-content > p:first-of-type,
.post-template-single-video.single.signle-post
	.entry-content.prose.prose-neutral
	> p:first-of-type {
	@apply mt-8 text-base lg:text-[23px] font-light leading-[1.6] sm:mt-16 md:mt-32 lg:mt-32;
}

.post .entry-content > p:nth-of-type(2),
.post-template-default.single.single-post .entry-content > p:nth-of-type(2),
.post-template-single-image.single.signle-post .entry-content > p:nth-of-type(2),
.post-template-single-video.single.signle-post
	.entry-content.prose.prose-neutral
	> p:nth-of-type(2) {
	@apply text-xs sm:text-sm lg:text-[19px] font-light leading-[1.5] my-12;
}

.post .entry-content > p:first-of-type a,
.post-template-default.single.single-post .entry-content > p:first-of-type a,
.post-template-single-image.single.signle-post .entry-content > p:first-of-type a,
.post-template-single-video.single.signle-post
	.entry-content.prose.prose-neutral
	> p:first-of-type
	a {
	@apply mt-8 text-base lg:text-[23px] font-normal leading-[1.6] sm:mt-16 md:mt-32 lg:mt-32;
}

.post .entry-content > p:first-of-type,
.post .entry-content > p:first-of-type a {
	@apply mt-8 text-xs sm:text-sm lg:text-[19px] font-normal leading-[1.6] sm:mt-16 md:mt-32 lg:mt-32;
}

.post .entry-content p,
.post .entry-content li,
.post .entry-content a,
.post .entry-content strong {
	@apply text-xs sm:text-sm lg:text-[19px] font-light leading-[1.5s] text-black;
	line-height: 1.5 !important;
}

.post .entry-content a:hover {
	color: #6439F5 !important;
}

.post .entry-content strong {
	@apply text-xs sm:text-sm lg:text-[19px] font-semibold leading-6 text-black;
}

.post .entry-content em {
	@apply text-xs sm:text-sm lg:text-[19px] font-light leading-6 text-black;
}


.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
	@apply text-black;
}

.prose :where(figure):not(:where([class~="not-prose"] *)) img {
	@apply m-0;
}

.entry-content li {
	@apply mb-[28.5px];
}

.entry-content li:last-child {
	@apply mb-0;
}

.post-template-default.single.single-post .entry-content .callout {
	@apply rounded-lg p-10;
}

.callout h4.wp-block-heading {
	@apply mt-0;
	margin-top: 0 !important;
}

.post .entry-content blockquote.wp-block-quote,
.post .entry-content blockquote.wp-block-quote p {
	@apply text-purple-900 text-2xl lg:text-5xl font-serif border-none p-0 not-italic leading-[1.3] mb-12 lg:my-24;
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before {
	content: "" !important;
}

.prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"] *))::after {
	content: "" !important;
}

.lwptoc.lwptoc-autoWidth.lwptoc-baseItems.lwptoc-light.lwptoc-notInherit {
	position: sticky;
	top: 8rem;
}

/* Hide Post Navigation & Comments */
.post-navigation {
	display: none;
}

#comments {
	display: none;
}

/* Author box */
.single.single-post .saboxplugin-wrap {
	@apply rounded-lg bg-purple-50 p-6;
}

.post-template-default.single.single-post .saboxplugin-gravatar {
	@apply p-0 md:row-span-2;
}

.saboxplugin-tab {
	@apply grid grid-cols-1 gap-3 text-left md:grid-cols-4 md:grid-rows-2;

	grid-template-rows: auto;
}

@media (min-width: 880px) {
	.saboxplugin-tab {
		grid-template-rows: 1rem 1fr;
	}
}

.post-template-default.single.single-post
	.saboxplugin-wrap
	.saboxplugin-authorname {
	@apply col-start-1 col-end-2 m-0 h-min text-left md:col-start-2 md:col-end-5;
}

.post-template-default.single.single-post
	.saboxplugin-wrap
	.saboxplugin-gravatar
	img {
	@apply m-0 block rounded-full;
	vertical-align: baseline;
}

.post-template-default.single.single-post
	.saboxplugin-wrap
	.saboxplugin-gravatar {
	@apply m-0;
}

img.avatar.avatar-100.photo {
	@apply md:w-full;
}

.post-template-default.single.single-post a[rel="author"] {
	@apply text-base font-semibold underline underline-offset-4;
}

.post-template-default.single.single-post
	.prose-a\:text-primary
	:is(:where(a):not(:where([class~="not-prose"] *))) {
	@apply text-black;
}

.post-template-default.single.single-post .saboxplugin-authorname::before {
	@apply text-base font-semibold;
	content: "Words By ";
}

.single.single-post .saboxplugin-wrap .saboxplugin-desc {
	@apply col-start-1 col-end-2 m-0 w-56 w-full text-left text-xs md:col-start-2 md:col-end-5;
	display: flex !important;
}

.post-template-default.single.single-post
	.saboxplugin-wrap
	.saboxplugin-authorname {
	@apply mt-0;
}

iframe {
	@apply w-full;
}

/* Related Posts */
.yarpp.yarpp-related.yarpp-related-shortcode.yarpp-template-yarpp-template-thumbnail {
	@apply grid grid-cols-1 lg:grid-cols-2 lg:gap-12 row-start-2 col-start-1 col-end-2 lg:col-end-3 p-0 m-0;
	column-gap: 3rem;
	row-gap: 0;

}

.yarpp.yarpp-related.yarpp-related-shortcode.yarpp-template-yarpp-template-thumbnail a {
	font-weight: 700;
}

.yarpp.yarpp-related.yarpp-related-shortcode.yarpp-template-yarpp-template-thumbnail span a {
	font-weight: 300;
}

.related-posts-after-content .related-thumb:hover {
	@apply border-opacity-100;
	box-shadow: 4px 4px 0px 0px #000;
}

.gb-grid-wrapper {

	flex-wrap: nowrap !important;
	gap: 1rem !important;
}