.tldr-block {
    @apply p-8 bg-[#F7F5F2] rounded-[10px] cursor-pointer;
}

.tldr-block:hover {
    box-shadow: 4px 4px 0px 0px #000;
    border: 1.5px solid #000;
}

.tldr-block .active.content {
    @apply block mt-8;
}

.tldr-block .content {
    @apply hidden;
}

.tldr-header-container {
    @apply flex flex-row justify-start items-center gap-4;
}

.tldr-text {
    @apply text-2xl font-[650] border-r border-black border-opacity-10 pr-4 tracking-[-0.23px] leading-[1.2];
}

.tldr-block > .tldr-header-container > .tldr-title {
    @apply flex flex-row justify-between grow m-0;
}

.tldr-block > .tldr-header-container > .tldr-title span {
    @apply text-base leading-[1.5] font-normal;
}

.tldr-block > .tldr-header-container > .tldr-title {
    @apply text-base leading-[1.5] font-normal m-0;
}

.editor-styles-wrapper .tdlr-title,
.editor-styles-wrapper .tldr-header-container h2 {
    @apply flex flex-row justify-between items-center gap-4 m-0;
    margin: 0 !important;
}

h2.tldr-title::after {
	@apply block h-6 w-6 transition-transform;
	content: "";
	transform: rotate(180deg);
	background: url("images/cheveron-down.svg") no-repeat center center;
}

.active .tldr-title::after {
	transform: rotate(0deg);
}

.tldr-header-container :where(h2):not(:where([class~="not-prose"] *)),
.editor-styles-wrapper .prose :where(h2):not(:where([class~="not-prose"] *)) {
    margin: 0 !important;
    margin-block-end: 0 !important;
    margin-block-start: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    
}

h2.tldr-title {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    margin: 0 !important;
}

.tldr-title .title2 {
    @apply  hidden sm:inline-block sm:ml-[.1rem] ;
}